@model IEnumerable<AlgorithmicThinking.Models.Section>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="classes_text">@ViewBag.ChapterTitle</h1>
    <span>@Html.Raw(ViewBag.Content)</span>
    <div class="dance_main">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <a href='@Url.Action("Details", "Sections", new { id=item.Id })'>
                        <div class="box">@Html.DisplayFor(modelItem => item.Title)</div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="readmore_bt"><a href='@Url.Action("UserIndex", "Chapters")'>Go Back</a></div>
</div>
